{
    "presets": ["env", "react", "stage-2"],
    "plugins": ["babel-plugin-styled-components"],
    "env": {
        "production": {
            "plugins": ["babel-plugin-transform-react-remove-prop-types"]
        }
    }
}
