@import '~styles/scss/_font-weight.scss';

.Menus {
  .flex {
    margin: 0 -10px;

    & > .flex-grow {
      margin: 10px;
    }
  }

  .Panel {
    display: flex;
    flex-direction: column;
  }
}
