@import '~styles/const/_palette.scss';

.Icons {
  .filter-options {
    margin-bottom: 25px;
  }

  .results {
    margin: 0 -5px;
    display: flex;
    flex-wrap: wrap;

    .Card {
      cursor: pointer;
      width: 150px;
      margin: 0 5px 15px;

      .card-body {
        transition: background-color 250ms ease-in-out;

        .icon-display {
          display: block;
          height: 100%;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          .Icon {
            font-size: 32px;
            color: $white;
            transition: transform ease-in-out 250ms;

            &:hover {
              transform: scale(1.5);
            }
          }
        }
      }

      &:hover {
        .card-body {
          background-color: darken(#37474f, 5);

          .icon-display {
            .Icon {
              transform: scale(1.5);
            }
          }
        }
      }
    }
  }
}
