@import '~styles/const/_palette.scss';

$COLORS: 'primary', 'danger', 'success', 'info', 'warning';
$GRADES: 800, 700, 600, 500, 400, 300;

.Palette {
  .color-spectrum {
    display: flex;
    margin: 0 -5px;
    margin-bottom: 25px;

    .color-grade {
      flex-grow: 1;
      margin: 0 5px;
    }
  }

  // PRIMARY

  .color-primary-800 {
    .body {
      background-color: $primary-800;
    }
  }

  .color-primary-700 {
    .body {
      background-color: $primary-700;
    }
  }

  .color-primary-600 {
    .body {
      background-color: $primary-600;
    }
  }

  .color-primary-500 {
    .body {
      background-color: $primary-500;
    }
  }

  .color-primary-400 {
    .body {
      background-color: $primary-400;
    }
  }

  .color-primary-300 {
    .body {
      background-color: $primary-300;
    }
  }

  // DANGER

  .color-danger-800 {
    .body {
      background-color: $danger-800;
    }
  }

  .color-danger-700 {
    .body {
      background-color: $danger-700;
    }
  }

  .color-danger-600 {
    .body {
      background-color: $danger-600;
    }
  }

  .color-danger-500 {
    .body {
      background-color: $danger-500;
    }
  }

  .color-danger-400 {
    .body {
      background-color: $danger-400;
    }
  }

  .color-danger-300 {
    .body {
      background-color: $danger-300;
    }
  }

  // INFO

  .color-info-800 {
    .body {
      background-color: $info-800;
    }
  }

  .color-info-700 {
    .body {
      background-color: $info-700;
    }
  }

  .color-info-600 {
    .body {
      background-color: $info-600;
    }
  }

  .color-info-500 {
    .body {
      background-color: $info-500;
    }
  }

  .color-info-400 {
    .body {
      background-color: $info-400;
    }
  }

  .color-info-300 {
    .body {
      background-color: $info-300;
    }
  }

  // WARNING

  .color-warning-800 {
    .body {
      background-color: $warning-800;
    }
  }

  .color-warning-700 {
    .body {
      background-color: $warning-700;
    }
  }

  .color-warning-600 {
    .body {
      background-color: $warning-600;
    }
  }

  .color-warning-500 {
    .body {
      background-color: $warning-500;
    }
  }

  .color-warning-400 {
    .body {
      background-color: $warning-400;
    }
  }

  .color-warning-300 {
    .body {
      background-color: $warning-300;
    }
  }

  // SUCCESS

  .color-success-800 {
    .body {
      background-color: $success-800;
    }
  }

  .color-success-700 {
    .body {
      background-color: $success-700;
    }
  }

  .color-success-600 {
    .body {
      background-color: $success-600;
    }
  }

  .color-success-500 {
    .body {
      background-color: $success-500;
    }
  }

  .color-success-400 {
    .body {
      background-color: $success-400;
    }
  }

  .color-success-300 {
    .body {
      background-color: $success-300;
    }
  }
}
